<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSUserActivityTypes</key>
	<array>
		<string>ChecklistEntriesConfigurationIntent</string>
		<string>WhereIsItemIntent</string>
		<string>com.tazetdinov.stuff.checklist.scene</string>
		<string>com.tazetdinov.stuff.checklist.view</string>
		<string>com.tazetdinov.stuff.item.scene</string>
		<string>com.tazetdinov.stuff.item.view</string>
		<string>com.tazetdinov.stuff.place.scene</string>
		<string>com.tazetdinov.stuff.place.view</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
		<key>UIApplicationSupportsTabbedSceneCollection</key>
		<false/>
	</dict>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>camera</string>
			<key>UIApplicationShortcutItemSubtitle</key>
			<string>subtitle.capture.item</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>title.capture.item</string>
			<key>UIApplicationShortcutItemType</key>
			<string>action.capture.item</string>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
